html
    head
        title = It is me
    body
        h1 
            a(href="https://github.com/mikewazowski15") Sirawit Pattarawaramet
        img(src='https://avatars0.githubusercontent.com/u/68949313?v=4')   
        h2 Internship companies
        
            ul
                li
                    a(href="") T2P
                li
                    a(href="") Project soft
